<section [ngClass]="{ 'dark-mode': (modeService.mode$ | async) == 'dark' }">
    <div class="m-auto p-bar" *ngIf="!contentLoaded">
        <div class="spinner">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
    </div>
    <div *ngIf="contentLoaded">
        <div class="filters d-flex">
            <div class="d-flex search-box">
                <mat-icon class="color-black">search</mat-icon>
                <input type="text" [(ngModel)]="searchText" (keyup)="keyUp.next($event)" class="search-text" placeholder="Search for a country.." />
            </div>

            <mat-form-field appearance="fill">
                <mat-label>Filter by Region</mat-label>
                <mat-select [(ngModel)]="filterOption" (selectionChange)="onOptionSelect()">
                    <mat-option *ngFor="let conti of conts" [value]="conti">
                        {{ conti }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="countries mt-4">
            <div *ngFor="let country of countriesPayload">
                <app-country-card [country]="country" (cardClicked)="getCountryDetails($event)"></app-country-card>
            </div>
        </div>
    </div>
</section>