section {
    padding: 50px;
    background: #fafafa;
    min-height: 95vh;
}

.sec-1 {
    width: 300px;
}

button {
    background: white;
    color: black;
    box-shadow: 1px 1px 10px 0px #16141424;
}

img {
    width: 100%;
    height: 100%;
    display: block;
}

.details {
    margin-top: 50px;
    align-items: flex-start;
    justify-content: space-between;
}

.sec2 {
    padding: 0px 20px;
}

.prop {
    font-weight: 500;
    font-size: 20px;
}

.value {
    font-weight: 300;
    font-size: 20px;
    margin-left: 30px;
}

.sub1 {
    div {
        display: flex;
        justify-content: space-between;
        margin: 10px 0px;
    }
}

h1 {
    font-size: 30px;
}

.sub2 {
    div {
        display: flex;
        justify-content: space-between;
        margin: 10px 0px;
    }
}

@media (max-width: 900px) {
    .details {
        flex-wrap: wrap;
    }
    .sec2 {
        padding: 0px;
        margin-top: 20px;
        width: 100%;
    }
    .sec3 {
        width: 100%;
    }
}