/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
html,
body {
    height: 100%;
    background: white;
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

.mat-progress-bar-buffer {
    background-color: #e7e1e3;
}

.mat-form-field .mat-select-arrow {
    color: black;
}

.mat-form-field .mat-select-value {
    color: black;
}

.mat-select-panel {
    background: #043363;
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: black;
}

@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
.dark-mode {
    background: #1e2c35 !important;
    color: white !important;
}